#svgSpecs{
  width:630px;
  height:470px;
}

#wrap {
  text-align: center;
  height: 20vh;
}

@media only screen and (max-width: 500px) {
  .svgSpecs{
    width:450px;
    height:336px;
  }

  #wrap {
    height: 5vh;
    width: 2vw;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 501px) {
  .svgSpecs{
    width:450px;
    height:336px;
  }

  #wrap {
    height: 20vh;
  }
}

@font-face {
  font-family: 'Geomanist';
  src: local('Geomanist'), url(./../fonts/geomanist.ttf);
}
