h6 {
  color: #3d719d;
  padding-left: 0.5em;
}
.workGlass{
  font-family: 'Geomanist', Arial;
  font-size: 1.5vw;
  background-color: black;
  opacity: 0.85 !important;
  border-radius: 25px;
  margin-top: 8.5%;
}

.projDescription h3{
  font-size: 1.5vw;
  color: white;
  margin-left: 3%;
  margin-top: 1%;
  padding-top: 8%
}

.projDescription .btn {
  font-size: medium;
}

.btn_space {
  margin-bottom: 0.5em;
}

.projDescription p{
  padding-left: 4%;
  margin-top: -6%;
}

.projImg img{
  border-radius: 25px;
  padding: 25px;
}

.carousel-slider.initialized{
  height: 650px !important;
  display: flex !important;
}

.carousel .indicators .indicator-item.active{
  background-color: red;
  height: 10px;
  width: 10px;
}

ul.indicators{
  bottom: 77% !important;
  right: 0% !important;
}

@media only screen and (max-width: 500px) {

  .workGlass{
    border-radius: 10px;
  }

  .projImg img{
    border-radius: 10px;
    width: 100% !important;
  }

  .projDescription h3{
    font-size: 7vw;
    color: white;
    margin-left: 2%;
    margin-top: 10%;
  }

  .projDescription {
    margin-top: -6%;
  }

  .projDescription p{
    padding-left: 2%;
    padding-top: 0.5em;
  }

  .carousel.carousel-slider .carousel-item{
    display:flex !important;
    flex-flow: column-reverse !important;
    justify-content: flex-end;
    padding-top: 3%;
    height: 96em;
  }

  .carousel-slider.initialized{
    height: 99vh !important;
    display: flex !important;
  }

  .projDescription .btn {
    text-align: center;
    padding: 1% !important;
    color: white !important;
    width: 10em;
    font-size: small;
  }

  ul.indicators{
    bottom: 94% !important;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 501px) {
  .workGlass{
    font-family: 'Geomanist', Arial;
    font-size: 1.5vw;
    background-color: black;
    opacity: 0.85 !important;
    border-radius: 25px;
  }

  .projDescription h6{
    font-size: 1.5vw;
    color: white;
    margin-left: 3%;
    margin-top: 0% !important;
  }

  .projDescription p{
    padding-left: 4%;
    margin-top: -6%;
  }

  .projImg img{
    border-radius: 25px;
    padding: 5px;
  }

  .carousel-slider.initialized{
    height: 550px !important;
    display: flex !important;
  }

  .carousel .indicators .indicator-item.active{
    background-color: red;
    height: 10px;
    width:10px;
  }

  ul.indicators{
    bottom: 91% !important;
    right: -25% !important;
  }
}

@font-face {
  font-family: 'Geomanist';
  src: local('Geomanist'), url(./../fonts/geomanist.ttf);
}
